<?xml version="1.0" encoding="UTF-8"?>
<WMS_Capabilities version="1.3.0" 
    xmlns="http://www.opengis.net/wms" 
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <Service>
        <Name>WMS</Name>
        <Title>{{ title }}</Title>
        <OnlineResource xlink:type="simple" xlink:href="{{ online_resource }}" />
    </Service>
    <Capability>
        <Request>
            <GetCapabilities>
                <Format>text/xml</Format>
                <DCPType><HTTP><Get><OnlineResource xlink:href="{{ online_resource }}" /></Get></HTTP></DCPType>
            </GetCapabilities>
            <GetMap>
                {%- for fmt in map_formats %}
                <Format>{{ fmt }}</Format>
                {%- endfor %}
                <DCPType><HTTP><Get><OnlineResource xlink:href="{{ online_resource }}" /></Get></HTTP></DCPType>
            </GetMap>
        </Request>
        <Layer>
            <Title>Nordsat VIIRS Products</Title>
            {%- for layer in layers %}
            <Layer queryable="0">
                <Name>{{ layer.layer_name }}</Name>
                <Title>{{ layer.layer_name }}</Title>
                {%- for crs in supported_crs %}
                <CRS>{{ crs }}</CRS>
                {%- endfor %}
                {# Snapped BBOX logic handled in Python #}
                <BoundingBox CRS="EPSG:3575" 
                    minx="{{ layer.minx }}" miny="{{ layer.miny }}" 
                    maxx="{{ layer.maxx }}" maxy="{{ layer.maxy }}" />
                {% if layer.time_values %}
                <Dimension name="time" units="ISO8601" default="{{ layer.time_values[0] }}" nearestValue="0">
                    {{ layer.time_values | join(',') }}
                </Dimension>
                {% else %}
                <Dimension name="time" units="ISO8601" default="{{ layer.end_str }}" nearestValue="1">
                    {{ layer.start_str }}/{{ layer.end_range_str }}/{{ interval_iso }}
                </Dimension>
                {% endif %}
            </Layer>
            {%- endfor %}
        </Layer>
    </Capability>
</WMS_Capabilities>
